* {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  /* Estilo para los párrafos */
  p {
    font-size: 18px;
    color: #1d0ea0;
    max-width: 600px;
    text-align: center;
    margin: 15px 0;
  }

  .carrusel {
  width: 600PX;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  
  }   
  .imagenes {
    display: flex;
    width: max-content; 
    transition: transform 0.5s ease-in-out;
  }

  .imagenes img {
    width: 600px;               /* Cada imagen ocupa el ancho del carrusel */
    height: 400px;
   
  
}

  .boton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
  }

  .boton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .anterior {
    left: 10px;
  }

  .siguiente {
    right: 10px;
  }